* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.container-small {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 600px;
}


.bg-grey {
  background-color: rgb(48, 45, 45);
  color: white;
}


.border-black {
  border: 1px solid black;
}


header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: 10px;
  align-self: center;
}

.logo {
  width: 150px;
  vertical-align: center;
}

.img-partner {
  width: 600px;
  height: 400px;
}


.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}


.coll-400 {
  width: 400px;
  height: 450px
}

.box-green {
  background-color: green;
  border: 1px solid black;
}

.coll-600 {
  width: 600px;
  height: 450px;
}

.box-yellow {
  background-color: yellow;
  border: 1px solid black;

}

.coll-1000 {
  width: 100%;
  height: 200px;
}


.box-blu {
  height: 750px;
  background-color: cornflowerblue;
  margin-top: 80px;
  width: 100%;
}

.box-pink {
  background-color: pink;
  width: 100%;
  height: 2000px;
  border: 1px solid black;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.button {
  background-color: blue;
  color: white;
  height: 40px;
  padding: 5px;
}

.font-size-20 {
  font-size: 20px;
}

.margin-left-250 {
  margin-left: 250px;
}


.pd-top-80 {
  padding-top: 80px;
}

.pd-bot-30 {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 70px;

}

.bg-white {
  background-color: white;
  color: black;
}

.img-1 {
  width: 700px;
  height: 550px;
}

.col-1500 {
  width: 100%;
  height: 150px;
  margin-top: 90px;
}

.box-violet {
  background-color: rgb(133, 31, 133);
  border: 1px solid black;
}

.box-purple {
  background-color: rgb(194, 32, 194);
  border: 1px solid black
}

.col-300 {
  width: 300px;
  height: 1500px;
  margin: 20px
}

.box-red {
  background-color: rgb(202, 13, 13);
  border: 1px solid black;
}

.pd-top-20 {
  padding-top: 20px;
}

h2 {
  font-size: 50px;
  padding-bottom: 20px;
}

.pd-left-200 {
  padding-left: 200px;
}

.pd-right-80 {
  padding-right: 80px;
}

.box-orange {
  background-color: orange;
  border: 1px solid black;
  height: 600px;

}

.box-silver {
  background-color: silver;
  border: 1px solid black;

}

.col-60 {
  width: 600px;
  height: 400px;
}

.col-40 {
  width: 400px;
  height: 400px;
}

.pd-top-100 {
  padding-top: 100px;
}

.box-gold {
  width: 100%;
  height: 650px;
}

.bg-gold {
  background-color: gold;
  border: 1px solid black;
}

.box-acqua {
  width: 100%;
  height: 100px;
}

.bg-acqua {
  background-color: rgb(24, 247, 172);
  border: 1px solid black
}

.box-white {
  width: 300px;
  height: 350px;
}

.bg-white {
  background-color: white;
  border: 1px solid black
}

.margin-top-450 {
  margin-top: 450px;
}

.flex {
  display: flex;
}

.flex-direction {
  flex-direction: row;
}

.gap30 {
  gap: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.img-main-4 {
  width: 250px;
  height: 150px;
}

.pd-bot-10 {
  padding-bottom: 10px;
}

.box.acquamarine {
  width: 1500px;
  height: 200px;
}

.margin-right-250 {
  margin-right: 250px;
}

.box-black {
  width: 100%;
  height: 600px;

}

.bg-black {
  background-color: black;
  color: white;
}

.diplay-inline-block {
  display: inline-block;
}

.col-black {
  width: 200px;
  height: 300px;
  border: 1px solid white;
}